<!-- Intro Section -->
<section id="intro" class="intro-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-offset-2 col-lg-8">
            	<h1>Minecraft & Forge</h1>
            	
            	{% markdown markdown/header.md %}

            	<p>
            		Our mission is to help educate parents gain more knowledgable (aware) and confidence to of their Minecraft setup at home. and, most importantly, Forge - the popular mod loader for Minecraft that enables their kids to setup . If at any point, you feel overwhelmed or confused by any of the lingo, look to the <code>great resources for parents</code> section of this website
				</p>
            	<p>
            		If you feel your may kid missing out on the fun of playing Minecraft Mods?</p>
                </p>
                <!-- <h1>Scrolling Nav</h1>
                <p><strong>Usage Instructions:</strong> Make sure to include the <code>scrolling-nav.js</code>, <code>jquery.easing.min.js</code>, and <code>scrolling-nav.css</code> files. To make a link smooth scroll to another section on the page, give the link the <code>.page-scroll</code> class and set the link target to a corresponding ID on the page.</p>
                <a class="btn btn-default page-scroll" href="#about">Click Me to Scroll Down!</a> -->
            </div>
        </div>
    </div>
</section>
