<section id="intro" class="intro-section"> 
    <div class="container">
        <div class="row">   

            <!-- SAM -->
<!--            
            <div class="col-lg-offset-2 col-lg-8">
                <h1>SECTION</h1>
                {% markdown markdown/ipsum.md %}
            </div>   
 -->

            <div class="col-lg-offset-2 col-lg-8 content">
                <div style="margin:10px 40px 40px 40px">
            	{% markdown markdown/intro.md %}
                </div>
            </div>
        </div>
    </div>
</section>
