/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}



/**
 * Basic styling
 */
body {
    font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
    color: $text-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}

/**
 *SAM
 */

p, .btwnParHeader, h2, h3, ul {
    padding: 0px 20px 0px 20px;
}

#HeaderImage {
    max-width: 700px;
    height: 130px;
    // position:relative;
    // display: block;

    //SAM: get to the bottom of this clip repeat nonsense!
    background: repeat url("/img/city/city3.png");
    // background-position: -20px -20px;
}

#H1_1 {
    //SAM: experiment
    // position: absolute;
    
    text-align: center;
    margin-left: auto;
    margin-right: auto;

    bottom:0%;
    word-wrap: break-word;
    display:inline;
    font-size: 20px;
    
    min-width: 200px;
    max-width: 600px;
    
    font-family: $header-font;
    text-shadow: 2px 2px 1px rgba(56, 47, 43, 0.3);
    background: rgba(0, 0, 0, 0.8) none repeat scroll 0% 0% / auto padding-box border-box;

    box-sizing: border-box;
    color: rgb(231, 231, 231);
    // height: 106px;
    letter-spacing: 1px;
    text-transform: uppercase;
    column-rule-color: rgb(231, 231, 231);
    // perspective-origin: 251px 53px;
    // transform-origin: 251px 53px;

    border: 0px none rgb(231, 231, 231);
    // margin: 0px 383px 50px;
    outline: rgb(231, 231, 231) none 0px;
}

#DIV_1 {
    max-width: 700px;    
    // height:180px;
    padding: 0px 20px 0px 20px;
    //SAM: check margin-bottom spacing. Keep things consistant with these headers and images!
    margin-bottom: 20px;
    // margin: 0px 0px 10px;
    // overflow: hidden;

    box-sizing: border-box;
    // color: rgb(231, 231, 231);
    float: left;

    column-rule-color: rgb(231, 231, 231);
    perspective-origin: 510px 174.391px;
    transform-origin: 510px 174.391px;
    background: rgba(41, 45, 51, .2) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(231, 231, 231);
    
    outline: rgb(231, 231, 231) none 0px;
    // padding: 40px;
}

#DIV_2 {
    max-width: 460px;
    box-sizing: border-box;
    // color: rgb(231, 231, 231);
    float: left;
    position: relative;
    text-align: left;
    column-rule-color: rgb(231, 231, 231);
    // perspective-origin: 235px 134.391px;
    // transform-origin: 235px 134.391px;
    border: 0px none rgb(231, 231, 231);
    outline: rgb(231, 231, 231) none 0px;
}

#H2_3 {
    font-family: $header-font;
    margin: 8px 0px 1px 0px;
    text-shadow: 2px 2px 1px rgba(56, 47, 43, 0.3);
    // margin: 0px 0px 0px 0px;
    box-sizing: border-box;
    // color: rgb(231, 231, 231);
    letter-spacing: 1px;
    text-align: left;
    text-transform: uppercase;
    
    column-rule-color: rgb(231, 231, 231);
    // perspective-origin: 225px 47px;
    // transform-origin: 225px 47px;
    border: 0px none rgb(231, 231, 231);
    outline: rgb(231, 231, 231) none 0px;
}

#DIV_6 {
    // position: inherit;
    // width: 200px;
    min-width: 300px;
    min-height: 50px;

    box-sizing: border-box;
    color: rgb(231, 231, 231);
    float: right;

    column-rule-color: rgb(231, 231, 231);
    // perspective-origin: 235px 115.5px;
    // transform-origin: 235px 115.5px;
    border: 0px none rgb(231, 231, 231);
    outline: rgb(231, 231, 231) none 0px;
}

#IMG_7 {
    //SAM: experiment

    position:absolute;
    // top: 0;  
    bottom: 0;  
    // left: 0;  
    right: 0;  

    // margin-top: 10px;
    margin-right:-20px;
    max-height: 98%;  
    max-width: 98%; 
    // width: auto;
    // height: auto;
    position: absolute;  
    
    // width: 120px;
    // height: 120px;
    background-color: #FFF;

    // max-width: 100%;

    box-sizing: border-box;
    color: rgb(231, 231, 231);
    column-rule-color: rgb(231, 231, 231);
    // perspective-origin: 225px 113.062px;
    // transform-origin: 225px 113.062px;
    border: 2px solid rgb(35, 39, 44);
    outline: rgb(231, 231, 231) none 0px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    margin: 24px 0px 20px 0px;
    font-family: $header-font;
    text-align: center;
    text-shadow: 2px 2px 1px rgba(56, 47, 43, 0.3);
}

.headerglue {
    //SAM: consistencies!
    padding:20px 2px 30px 8px;
}

.quirkHeader {
    // display: block;
    // margin-top:-47px;
    // position: absolute;
    // font-family: $title-font-family;
    text-transform: uppercase;

    letter-spacing: 4px;
    margin-top:-11px;
    float:right;
    // display:block;
    font-family: $title-font-family;
    font-size: 31px;
    // font-family: $header-font;
    // font: normal normal normal normal 16px / 28.8px Menlo, Consolas, "Courier New", Courier, "Liberation Mono", monospace;
    // width:325px;
    
    // position: absolute;
    // display: inline;
      // line-height: 80%;
   // margin: 10px 0 -20px;
    // white-space: nowrap;
    // margin-top:-47px;
    // margin-left: -2px;
    // padding:10px;
    text-shadow: 2px 2px 1px rgba(56, 47, 43, .5);
    // font-size: 20px;
    // position:absolute;
    border-radius: 4px; 
    color: white;
    

    // background-color: rgba(41, 45, 51, .7);
    // background: #466368;
    // background: linear-gradient(to right bottom, #648880, #293f50);
}

.sectionHighlight {
    // float:left;
    height: 14px;
    line-height: 75%;
    color: white;
    text-shadow: 2px 1px 0px rgba(255, 255, 255, 1);
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 16px;
    // font-style: italic;
    font-variant: normal;
    text-transform: lowercase;
    letter-spacing: 2px;

    

    border-radius: 4px; 
    text-shadow: 2px 2px 1px rgba(0, 86, 200, 1);
    // color: rgba(255, 255, 255, 1);;
    background-color: rgba(41, 45, 51, .7);
    background: #466368;
    background: linear-gradient(to right bottom, #648880, #293f50);
}

.sectionHighlight2 {
    //SAM: consistencies!
    margin: 40px 20px 48px 20px;

    display: block;
    border: 0px none rgb(255, 255, 255);
    border-radius: 5px;

    box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 10px 0px inset, rgba(255, 255, 255, 0.0980392) 0px 1px 0px 0px, rgba(0, 0, 0, 0.498039) 0px -1px 0px 0px;
    box-sizing: border-box;


    background: rgba(220, 175, 43, 1) none repeat scroll 0% 0% / auto padding-box border-box;
    outline: rgb(255, 255, 255) none 0px;
    // overflow: auto;
    // padding: 10px 8px;
    > div.hi {
        margin-top: 10px;
        padding: 5px;
        font-weight: bold;
        // font-family: $base-font-family;
        // font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        // font-size: 17px;
        // margin:10px;
        // border-radius: 5px;
        
        // text-align: center;
        // padding: 5px 16px 12px 4px;
        // font-style: italic;
        
        // letter-spacing: 0px;
    }
}

.style14 { 
  border: 0; 
  height: 1px; 
  background-image: -webkit-linear-gradient(left, $bg_lines_tone, #8c8b8b, $bg_lines_tone);
  background-image: -moz-linear-gradient(left, $bg_lines_tone, #8c8b8b, $bg_lines_tone);
  background-image: -ms-linear-gradient(left, $bg_lines_tone, #8c8b8b, $bg_lines_tone);
  background-image: -o-linear-gradient(left, $bg_lines_tone, #8c8b8b, $bg_lines_tone); 
}

.btwnParRule {
    margin-bottom: 24px;
    height: 12px;
    border: 0;
    box-shadow: inset 0 -12px 4px -10px rgba(0, 0, 0, 0.2);
}

.btwnParHeader {
    margin: 24px 0px 15px 0px;
    // font-weight: bold;    
    // color: #000000;
    // font-family: $header-font;
    // text-align: center;
    // text-shadow: 2px 2px 1px rgba(56, 47, 43, 0.3);
}

/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}



/**
 * Figures
 */
figure > img {
    display: block;
}

figcaption {
    font-size: $small-font-size;
}



/**
 * Lists
 */
ul, ol {
    margin-left: $spacing-unit;
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    font-weight: $base-font-weight;
}



/**
 * Links
 */
a {
    color: $brand-color;
    text-decoration: none;

    &:visited {
        color: darken($brand-color, 15%);
    }

    &:hover {
        color: $text-color;
        text-decoration: underline;
    }
}



/**
 * Blockquotes
 */
blockquote {
    color: $grey-color;
    border-left: 4px solid $grey-color-light;
    padding-left: $spacing-unit / 2;
    font-size: 18px;
    letter-spacing: -1px;
    font-style: italic;

    > :last-child {
        margin-bottom: 0;
    }
}



/**
 * Code formatting
 */
pre,
code {
    font-size: 15px;
    border: 1px solid $grey-color-light;
    border-radius: 3px;
    background-color: #eef;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: auto;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}



/**
 * Wrapper
 */
.wrapper {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
    max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
    @extend %clearfix;

    @include media-query($on-laptop) {
        max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
        max-width:         calc(#{$content-width} - (#{$spacing-unit}));
        padding-right: $spacing-unit / 2;
        padding-left: $spacing-unit / 2;
    }
}



/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}



/**
 * Icons
 */
.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $grey-color;
        }
    }
}
