/**
 * Site header
 */

/** 
*SAM
*/

$bgDefault: #e74c3c;
$bgHighlight: #c0392b;
$colDefault: #F2F6FF;
$colHighlight: #ffbbbc;

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

.navbar {
    .navbar-brand {
        position: absolute;
        color: $colDefault;
        font-family: $title-secondary-font-family;
        font-weight: bolder;
        font-size: 80px;
        color: #d6d6d6;
        cursor: default;

        &:hover,
        &:focus {
            color: $colHighlight;
        }
        
        > span {
            position:absolute;
            margin-top:-24px;
            margin-left:20px;
            color: #000000;
            font-family: $title-font-family;
            font-weight: 400;
            font-size: 38px;
            opacity:.8;
            text-shadow: -1px 2px 0px rgba(255, 204, 51, .7);
            z-index: 1;
        }
    }

    .nav-sam {
        font-family: $header-font;
        text-align:center;
        > li {

            float:none;
            display:inline-block;
            *display:inline; /* ie7 fix */
            *zoom:1; /* hasLayout ie7 trigger */
            vertical-align: top;

            > a {
                display: inline-block;
                
                background-color: #7488AF;
                border-color: #55647F;
                // color: #F2F6FF;

                border-left-width: 0px;
                border-bottom-left-radius: 5px;
                
                // padding-left: 24px;
                border-left: 0px;
                border-bottom: 5px;
                border-top: 0px;
                border-right: 0px;
                padding-left: 18px;
                padding-right: 18px;
                padding-top: 4px;
                padding-bottom: 6px;
                border-style: solid;
                line-height: 38px;
                vertical-align: middle;
                margin: 0px;
                margin-top: 6px;
    
                font-size: 1.1em;
                font-weight: bold;
                

                transition: background-color .2s, border-color .2s, color .2s, text-shadow .2s ease-in;

                &:hover,
                &:focus {
                    // color: $colHighlight;
                }

            }

            // > a.menu-hover2 {
            //     border-left-width: 0px;
            //     border-bottom-left-radius: 5px;
            //     // padding-left: 24px;
            //     border-left: 0px;
            //     border-bottom: 5px;
            //     border-top: 0px;
            //     border-right: 0px;
            //     padding-left: 18px;
            //     padding-right: 18px;
            //     padding-top: 4px;
            //     padding-bottom: 6px;
            //     border-style: solid;
            //     line-height: 38px;
            //     vertical-align: middle;
            //     margin: 0px;
            //     margin-top: 6px;
            //     text-align: center;
            //     font-size: 1.1em;
            //     font-weight: bold;
            //     display: inline-block;
            //     background-color: #7488AF;
            //     border-color: #55647F;
            //     color: #F2F6FF;
            //     transition: background-color .2s, border-color .2s, color .2s, text-shadow .2s ease-in;

            //     &:hover,
            //     &:focus {
            //         color: $colHighlight;
            //         border-bottom-width: 5px;    /* Colours (Hover) */
            //         background-color: #7488AF;
            //         color: #ffffff;
            //         border-color: #76AEFF;
            //         text-shadow: #aaddff 0px 0px 6px;
            //         transition: background-color .1s, border-color .1s, color .1s, text-shadow .1s ease-out;
            //     }

            // }

        }
      
        > li.active {
            > a.menu2,
            > a:hover,
            > a:focus {
                background: linear-gradient(to bottom, #7488AF, #5f6f8d);
                border-bottom-width: 4px;
                margin-bottom: 1px;
                border-left-width: 1px;
                border-right-width: 1px;
            }        
        }
        
        > li:not(.active) {
            > a.menu2 {
                border-left-width: 0px;
                border-bottom-left-radius: 5px;
                // padding-left: 24px;
                border-left: 0px;
                border-bottom: 5px;
                border-top: 0px;
                border-right: 0px;
                padding-left: 18px;
                padding-right: 18px;
                padding-top: 4px;
                padding-bottom: 6px;
                border-style: solid;
                line-height: 38px;
                vertical-align: middle;
                margin: 0px;
                margin-top: 6px;
                text-align: center;
                font-size: 1.1em;
                font-weight: bold;
                display: inline-block;
                background-color: #7488AF;
                border-color: #55647F;
                color: #F2F6FF;
                transition: background-color .2s, border-color .2s, color .2s, text-shadow .2s ease-in;
            }
            
            > a.menu-hover2 {
                &:hover,
                &:focus {
                    color: $colHighlight;
                    border-bottom-width: 5px;    /* Colours (Hover) */
                    background-color: #7488AF;
                    color: #ffffff;
                    border-color: #76AEFF;
                    text-shadow: #aaddff 0px 0px 6px;
                    transition: background-color .1s, border-color .1s, color .1s, text-shadow .1s ease-out;
                }

            } 
        }         

        > .active {
                > a,
                > a:hover,
                > a:focus {
                        color: #000000;
                        // color: $colHighlight;
                        // background-color: $bgHighlight;
                
            }
 
        }

        // > .open {
        //         > a,
        //         > a:hover,
        //         > a:focus {
        //                 color: $colHighlight;
        //                 background-color: $bgHighlight;
                
        //     }

            
        // }

    }

    .navbar-toggle {
        border-color: $bgHighlight;

        &:hover,
        &:focus {
            background-color: $bgHighlight;
        }

        .icon-bar {
            background-color: $colDefault;
        }

    }

    .navbar-collapse,
    .navbar-form {
        border-color: $colDefault;
    }

    .navbar-link {
        color: $colDefault;

        &:hover {
            color: $colHighlight;
        }

    }

}

.intro-section {
    padding-top: 74px;
}

@media (max-width:767px) {
    .intro-section {
        padding-top: 0px;
    }
    .navbar-default .navbar-nav .open .dropdown-menu {
        > li > a {
            color: $colDefault;

            &:hover,
            &:focus {
                color: $colHighlight;
            }

        }

        > .active {
            > a,
            > a:hover,
            > a:focus {
                color: $colHighlight;
                background-color: $bgHighlight;
            }

        }

    }

}

.intro-section,
.about-section,
.services-section,
.contact-section {
    // .container .row div {
    //     background-image: $bones_seeds_apples_books;
    //     background-position: left top;
    //     background-repeat: repeat;
    //     border: 1px solid black;
    //     border-radius: 25px;
    //     box-shadow: 0 0 2px 2px white inset;
    // }

}

.content {  position: relative; }

.content:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-image: $bones_seeds_apples_books;
    background-position: left top;
    background-repeat: repeat;
    // border: 1px solid;
    border-radius: 15px;
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    // box-shadow: 0 0 10px 4px white inset;
    opacity: .7;
}

.content div{
    background-image: none;
    position: relative; 
    z-index: 2;
    .sam-section {
        background-image: none;
        position: relative; 
        z-index: 2;
        // opacity: 0.5;
        color: #000000;
        margin: 10px;
        padding-top: 12px;
        padding-bottom: 1px;

        // padding-left: 20px;
        // padding-right: 20px;
        
        border-radius: 2px;
        background: url(/img/bglines_op80.png);
        // opacity: .2;
        // box-shadow: 0 0 0 .5px #000000, 2px 1px 6px 4px rgba(10, 10, 0, 0.5);
        box-shadow: 0 0 0 0px #000000, 2px 2px 2px 2px rgba(10, 10, 0, 0.5);
        // text-shadow: -1px -1px #aa3030;
        // background-color: rgba(204,155,106, 1);
    }    
}​


.site-header {
    border-top: 5px solid $grey-color-dark;
    border-bottom: 1px solid $grey-color-light;
    min-height: 56px;
    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 26px;
    font-weight: 300;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $grey-color-dark;
    }

}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items,
        but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }

    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: $spacing-unit / 2;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }

            }

        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }

            margin-left: 20px;
        }

    }

}

/**
* Site footer
*/
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width:-webkit-calc(35% - (# {
        $spacing-unit
    }

    / 2));

    width:calc(35% - (# {
        $spacing-unit
    }

    / 2));
}

.footer-col-2 {
    width:-webkit-calc(20% - (# {
        $spacing-unit
    }

    / 2));

    width:calc(20% - (# {
        $spacing-unit
    }

    / 2));
}

.footer-col-3 {
    width:-webkit-calc(45% - (# {
        $spacing-unit
    }

    / 2));

    width:calc(45% - (# {
        $spacing-unit
    }

    / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width:-webkit-calc(50% - (# {
            $spacing-unit
        }

        / 2));

        width:calc(50% - (# {
            $spacing-unit
        }

        / 2));
    }

    .footer-col-3 {
        width:-webkit-calc(100% - (# {
            $spacing-unit
        }

        / 2));

        width:calc(100% - (# {
            $spacing-unit
        }

        / 2));
    }

}

@include media-query($on-palm) {
    .footer-col {
        float: none;

        width:-webkit-calc(100% - (# {
            $spacing-unit
        }

        / 2));

        width:calc(100% - (# {
            $spacing-unit
        }

        / 2));
    }

}

/**
* Page content
*/
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }

}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}

/**
* Posts
*/
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }

}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }

    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }

    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }

    }

}